---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
  <div style="overflow-y: scroll; height: 600px">
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3 class="post_title">{{post.title | escape}}</h3>
        <h1 class="post_publication">{{post.event | escape}}</h1>
        <h2 class="post_author">{{post.authors | escape}}</h2>
        <div class="post_excerpt">
          {{ post.excerpt | markdownify }}
        </div>

        <ul class="post_sup_list">
          {%- if post.arxiv -%}
            <li class="post_sup_list"><a href={{post.arxiv}} target="_blank">arxiv</a></li>
          {%- endif -%}
          {%- if post.blog -%}
            <li class="post_sup_list"><a href={{post.blog}} target="_blank">blog</a></li>
          {%- endif -%}
          {%- if post.github -%}
            <li class="post_sup_list"><a href={{post.github}} target="_blank">code</a></li>
          {%- endif -%}
        </ul>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
